.containerSection a{
    font-family: 'KD2' sans-serif;
    font-weight: 600;
    color: #566D75;
    text-decoration: none;
    font-size: 20px;
}
.containerSection .section{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid rgba(86, 109, 117, 0.5);
    height: 120px;
}

body{
    height: 997px;
    border-bottom: 2px solid rgba(86, 109, 117, 0.5);
    background-color: #E5E5E5;
}